aiodns==4.0.4
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
attrs==26.1.0
brotli==1.2.0
cffi==2.0.0
frozenlist==1.8.0
idna==3.18
msgspec==0.21.1
multidict==6.7.1
numpy==2.5.0
propcache==0.5.2
py-cord==2.8.0
pycares==5.0.1
pycparser==3.0
python-dotenv==1.2.2
typing_extensions==4.16.0
yarl==1.24.2
